html, body{
     margin: 0px; 
    background-color: #2F4F30;
    color: aliceblue;
}


 
.titulo{
text-align: center;
background-color: black;
color: white;
padding: 10px; 
font-size: 25px; 
} 

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
height: 240px;
} 
#divBoton {
    padding: 10px;
}
.btn btn-danger{
    margin: 20px;
    
}